@font-face {
    font-family: 'avengers';
    src: url(AVENGEANCE.otf);
}

body {
    padding-top: 20px;
    margin: 0;
}

.title {
    height: 10vh;
    text-align: center;
    font-family: 'avengers';
}

.row {
    height: 40vh;
    margin: 0 auto;
}

.c3-event-rect .c3-event-rect-0 {
    height: 40vh;
}

.col {
    margin: auto;
    height: 45vh;
    width: 20%
}

.c3-chart-arcs-title {
    font-family: 'avengers';
    font-size: 1rem;
    fill: #1F77B4;
}
